<div class="card shadow mb-4" id="security">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">OAuth2 Security</h6>
    </div>
    <div class="card-body">
        @if (!User.Identity.IsAuthenticated)
        {
            <p>You're currently not logged in. Click the button below to access a secure page and trigger OAuth2 signin flow via SSO</p>
            <a asp-controller="Security" asp-action="SecureEndpoint" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-exchange-alt"></i>
                </span>
                <span class="text">Go to secure page</span>
            </a>
        }
        else
        {
            <div class="row">
                <div class="col-9">
                    Logged in as @User.Identity.Name
                </div>
                <div class="col">
                    <a asp-controller="Security" asp-action="Logout" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span class="text">Signout</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Granted Scopes:</h4>
                    <ul>
                        @foreach (var claim in User.Claims.Where(x => x.Type == "scope"))
                        {
                            <li>@claim.Value</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
<script>
var pageModel = new Vue({
    el: '#security',
    data: {
       
    },
    _this: this,
    mounted: function() {
        
    },
    methods: {
        
    }
});
</script>