<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->

  
  <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="~/css/custom.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
  <script src="~/vendor/jquery/jquery.min.js"></script>
  <!-- Page level plugins -->

  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a href="index.html">
      <div class="container">
        
        <div class="row align-items-center justify-content-center">
          <div class="col-sm"><img class="img-fluid" src="~/img/icon-pas.svg"/></div>
          <div class="col-sm sidebar-brand-text mx-3 sidebar-brand d-flex ">PAS Demo</div>
        </div>
      </div>
    </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <!-- <li class="nav-item active">
        <a class="nav-link" data-toggle="modal" data-target="#envInfoModal">
          <i class="fas fa-fw fa-desktop"></i>
          <span>Environment</span>
        </a>
      </li> -->
      <div class="modal fade" id="envInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      
                      <h4 class="modal-title" id="myModalLabel">Environment Information</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm"><strong>Application Name:</strong></div>
                      <div class="col-sm">Articulate</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Instance Index:</strong></div>
                        <div class="col-sm">0</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Container Address:</strong></div>
                        <div class="col-sm">10.0.1.1:8080</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>Cell Address:</strong></div>
                        <div class="col-sm">192.168.16.33:61048</div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><strong>.NET Core CLR Version::</strong></div>
                        <div class="col-sm">2.2.5</div>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>
              <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
      </div>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Environment
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#envInfoModal">
            <i class="fas fa-fw fa-info"></i>
            <span>App</span>
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cogs"></i>
          <span>Service Bindings</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">p-service-registry:</h6>
            <div class="collapse-item">eureka</div>
            <h6 class="collapse-header">p-redis:</h6>
            <div class="collapse-item">cache</div>
          </div>
        </div>
      </li>

       <!-- Heading -->
      <div class="sidebar-heading">
          Demos
      </div>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="HighAvailability">
          <i class="fas fa-fw fa-power-off"></i>
          <span>Scale & HA</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Services">
          <i class="fas fa-fw fa-database"></i>
          <span>Services</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="BlueGreen">
          <i class="fas fa-fw fa-adjust"></i>
          <span>Blue / Green</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="~/actuator">
          <i class="fas fa-fw fa-sitemap"></i>
          <span>Actuators</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  asp-controller="Home" asp-action="Logging">
          <i class="fas fa-fw fa-bug"></i>
          <span>Logging</span>
        </a>
      </li>
      

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <nav class="navbar ">
        
        </nav>
        <div class="container-fluid">
        @RenderBody()
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->

  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="~/js/sb-admin-2.min.js"></script>


  <!-- Page level custom scripts -->
  @* <script src="~/js/demo/chart-area-demo.js"></script> *@
  @* <script src="~/js/demo/chart-pie-demo.js"></script> *@

</body>

</html>
