@using Articulate
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@using Steeltoe.Connector
@using Steeltoe.Connector.CloudFoundry
@using Steeltoe.Connector.Services
@using Steeltoe.Extensions.Configuration.CloudFoundry
@inject IConfiguration Configuration
@inject IHttpContextAccessor HttpContext
@{
    var request = HttpContext.HttpContext.Request;
    var basePath = $"{request.Scheme}://{request.Host.Value.ToString()}{request.PathBase.Value.ToString()}";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->


    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/custom.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Page level plugins -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script> *@
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        
        var basePath = "@basePath";
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
<a asp-controller="Home" asp-action="Index">
    <div class="container">

        <div class="row align-items-center justify-content-center">
            <div class="col-sm">
                <img class="img-fluid" src="~/img/icon-pas.svg"/>
            </div>
            <div class="col-sm sidebar-brand-text mx-3 sidebar-brand d-flex ">TAS Demo</div>
        </div>
    </div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<!-- <li class="nav-item active">
    <a class="nav-link" data-toggle="modal" data-target="#envInfoModal">
        <i class="fas fa-fw fa-desktop"></i>
        <span>Environment</span>
    </a>
</li> -->
<div class="modal fade" id="envInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Environment Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm">
                        <strong>Application Name:</strong>
                    </div>
                    <div class="col-sm">{{ app.appName }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <strong>Instance ID:</strong>
                    </div>
                    <div class="col-sm">{{ app.instanceName == '-1' || app.instanceName == '' ? '--' : app.instanceName }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <strong>Container Address:</strong>
                    </div>
                    <div class="col-sm">{{ app.containerAddress }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <strong>Host Address:</strong>
                    </div>
                    <div class="col-sm">{{ app.hostAddress }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <strong>.NET Core CLR Version::</strong>
                    </div>
                    <div class="col-sm">{{ app.clrVersion }} </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="siInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Service Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-3">
                    <strong>Service Type:</strong>
                </div>
                <div class="col-sm">{{ currentSi.name }}</div>
            </div>
                <div class="row">
                    <div class="col-3">
                        <strong>Name:</strong>
                    </div>
                    <div class="col-sm">{{ currentSi.label }}</div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <strong>Plan:</strong>
                    </div>
                    <div class="col-sm">{{ currentSi.plan }}</div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <strong>Tags:</strong>
                    </div>
                    <div class="col-sm">
                        <ul class="list-unstyled">
                            <li v-for="(tag) in currentSi.tags">{{ tag }}</li>
                        </ul>
                    </div>
                </div>
                <hr/>
                <div class="row" v-for="(value,key) in currentSi.credentials">
                    <div class="col-3">
                        <strong>{{ key }} </strong>
                    </div>
                    <div class="col-sm">{{ value }}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Environment
</div>
<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" data-toggle="modal" data-target="#envInfoModal">
        <i class="fas fa-fw fa-info"></i>
        <span>App</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cogs"></i>
        <span>Service Bindings</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">


        <div class="bg-white py-2 collapse-inner rounded">
            <div v-for="(serviceInstances, serviceType) in app.services">
                <h6 class="collapse-header">{{ serviceType }}</h6>
                <a class="collapse-item" v-for="si in serviceInstances" v-on:click="selectServiceInstance(serviceType, si.name)"  data-toggle="modal" data-target="#siInfo">{{ si.name }}</a>
            </div>
            @* @foreach (var (service, instances) in new CloudFoundryServicesOptions(Configuration).Services) *@
            @* { *@
            @*     <h6 class="collapse-header">@service:</h6> *@
            @*     @foreach (var si in instances) *@
            @*     { *@
            @*         <div class="collapse-item">@si.Name</div> *@
            @*     } *@
            @* } *@
        </div>

    </div>
</li>

<!-- Heading -->
<div class="sidebar-heading">
    Demos
</div>
@* <li class="nav-item"> *@
@*     <a class="nav-link" asp-controller="Home" asp-action="HighAvailability"> *@
@*         <i class="fas fa-fw fa-power-off"></i> *@
@*         <span>Scale & HA</span> *@
@*     </a> *@
@* </li> *@
<li class="nav-item">
    <a class="nav-link" asp-controller="Services" asp-action="Index">
        <i class="fas fa-fw fa-database"></i>
        <span>Services</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="BlueGreen" asp-action="Index">
        <i class="fas fa-fw fa-adjust"></i>
        <span>Blue / Green</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="~/actuator">
        <i class="fas fa-fw fa-sitemap"></i>
        <span>Actuators</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Logging" asp-action="Index">
        <i class="fas fa-fw fa-bug"></i>
        <span>Logging</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Security" asp-action="Index">
        <i class="fas fa-fw fa-lock"></i>
        <span>Security</span>
    </a>
</li>
@if (Configuration.IsServiceBound<EurekaServiceInfo>())
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="ServiceDiscovery" asp-action="Index">
            <i class="fas fa-fw fa-broadcast-tower"></i>
            <span>Service Discovery</span>
        </a>
    </li>
}

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</ul>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <nav class="navbar ">

        </nav>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->

<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>
<script>
  var environment = null;
  var instanceInfoUrl = "@Url.Action("InstanceInfo", "Home")";
  
  $.get(instanceInfoUrl, function(appEnv) {
    environment = appEnv;
    var app2 = new Vue({
          el: '#accordionSidebar',
          data: {
              app: environment,
              currentSi: { name: "eureka", tags: [] }
          },
          methods: {
            selectServiceInstance: function (serviceType, name){
                var self = this;
                this.app.services[serviceType].forEach(function (item,index){
                    //console.log(self.currentSi);

                    if (item.name === name){
                        //Vue.set(this, "currentSi", item);
                        self.currentSi = item;
                        console.log(currentSi);
                    }
                })
            }
          }
        });
    });
  </script>

<!-- Page level custom scripts -->
@* <script src="~/js/demo/chart-area-demo.js"></script> *@
@* <script src="~/js/demo/chart-pie-demo.js"></script> *@

</body>

</html>