@using Articulate.Models
@model Articulate.Models.AppEnv

    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Intro</h6>
                </div>
                <div class="card-body">
                    <p>
                        The purpose of this application is to demonstrate some basic
                        capabilities of the Pivotal Platform, in particular
                        the Pivotal Application Service which is the core component
                        responsible for running the application workloads as containers.
                    </p>
                    <p>
                        Use the menu on the left side to explore different demos
                        that showcase capabilities of the platform.
                    </p>
            
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Deploying</h6>
                    </div>
                    <div class="card-body">
                        <p>Publish the app</p>
                        <p><code>dotnet publish</code></p>
                        <p>Deploy with included manifest</p>
                        <p><code>cf push</code></p>
                        <p>Some demos require app to be deployed multiple times, or services to be bound. You can build and deploy
                            everything using simplified build script: <code>build.sh</code> or <code>build.ps1</code>.
                            You'll be prompted for required parameters</p>
                        <p>Compile: <code>build.sh Pack</code></p>
                        <p>Deploy: <code>build.sh Deploy</code></p>
                    </div>
            
                </div>
        </div>
    </div>
    

    
